@import "./fontStyles.css";

.charPatrickCont,
.charSandyCont,
.charKrabsCont,
.charSpongeCont,
.charSquidCont,
.charGaryCont {
  width: 17em;
  height: 25em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff7e6;
  border: 4px solid #fff7e6;
  border-radius: 14px;
  cursor: pointer;
  padding-top: 0.5em;
  box-shadow: 0 6px 0 #45c9e9;
}

.charPatrick,
.charSandy,
.charKrabs,
.charSponge,
.charSquid,
.charGary {
  width: 90%;
  height: 70%;
  background-color: #37cdf3;
  border: 2px solid #0f4c5c;
  border-radius: 14px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  border: 2px solid #1b5e63;
}

.charPatrick {
  background-image: url("../assets/characters/patrick.png");
}

.charSandy {
  background-image: url("../assets/characters/sandy.png");
}

.charKrabs {
  background-image: url("../assets/characters/krabs.png");
}

.charSponge {
  background-image: url("../assets/characters/sponge.png");
}

.charSquid {
  background-image: url("../assets/characters/squid.png");
}

.charGary {
  background-image: url("../assets/characters/gary.png");
}

.charName p {
  font-weight: 800;
  color: #083344;
  font-size: 1.2em;
  font-family: "roboto", sans-serif;
  height: 3em;
}

.charPatrickCont:hover,
.charSandyCont:hover,
.charKrabsCont:hover,
.charSpongeCont:hover,
.charSquidCont:hover,
.charGaryCont:hover {
  border: solid 4px yellow;
  cursor:
    url("../assets/cursor1.png") 16 16,
    auto;
}
