@font-face {
  font-family: "sponge";
  src: url("../fonts/Some\ Time\ Later.otf");
}

@font-face {
  font-family: "game";
  src: url("../fonts/Simple\ Games.ttf");
}

@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto-SemiBold.ttf");
}

.infoCont {
  display: flex;
  flex-direction: column;
}

header {
  display: grid;
  grid-template-rows: 10em 5em 10em;
  place-content: center;
  max-width: 35em;
}

.spTitle {
  font-family: "game";
  font-size: 3em;
  place-content: end;
}

.memoryTitle {
  font-family: "sponge";
  font-size: 5em;
  grid-row: 2;
}

.instructions {
  display: grid;
  grid-template-columns: 17em 2em;
  grid-template-rows: 2em 5em;
  place-content: center;
  border: solid 3px brown;
  border-radius: 7px;
  max-width: 20em;
  max-height: 7em;
  font-size: 1.2em;
  background-color: bisque;
}

.inText {
  text-align: center;
  font-family: "roboto";
  grid-row: 2;
}

.inHighlight {
  color: red;
}

.exMark {
  grid-column: 2;
  padding: 10px;
}

.diffbutt {
  display: flex;
  justify-content: space-between;
}

.easyCont,
.mediumCont,
.hardCont {
  background: linear-gradient(#895238, #7a3e26);
  border: 4px solid #000;
  border-radius: 16px;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 6px 0 #5a2b18;
  width: 6em;
  display: grid;
  place-content: center;
  padding: 0.5em;
}

.easy,
.medium,
.hard {
  width: 6em;
  height: 6em;
  border-radius: 14px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 900;
  color: #111;
  border: 4px solid #000;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow:
    0 6px 0 rgba(0, 0, 0, 0.4),
    inset 0 3px 0 rgba(255, 255, 255, 0.5);

  transition:
    transform 0.1s ease,
    box-shadow 0.1s ease;
}

.easy:active,
.medium:active,
.hard:active {
  transform: translateY(4px);
  box-shadow:
    0 2px 0 rgba(0, 0, 0, 0.4),
    inset 0 2px 0 rgba(255, 255, 255, 0.4);
}

.easy {
  background: linear-gradient(145deg, #8cf0b7, #1db15a);
}

.medium {
  background: linear-gradient(145deg, #ffe27a, #f1b80c);
}

.hard {
  background: linear-gradient(145deg, #ff8a7a, #d63b2c);
}

.easy:hover {
  box-shadow:
    0 6px 0 rgba(0, 0, 0, 0.4),
    0 0 12px rgba(29, 177, 90, 0.6);
}

.medium:hover {
  box-shadow:
    0 6px 0 rgba(0, 0, 0, 0.4),
    0 0 12px rgba(241, 184, 12, 0.6);
}

.hard:hover {
  box-shadow:
    0 6px 0 rgba(0, 0, 0, 0.4),
    0 0 12px rgba(214, 59, 44, 0.6);
}
