@import "./fontStyles.css";

.gameWrapper {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 35em 40em 20em;
  grid-template-rows: 5em 30em 8em;
  place-content: center;
}

.cardsCont {
  display: flex;
  grid-row: 2;
  grid-column: span 3;
  justify-content: center;
  align-items: end;
  gap: 2em;
  padding: 0 1em 0 1em;
}

.returnToMenu {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 3em;
  font-size: 2em;
  font-weight: bold;
  font-family: "sponge";
  grid-column: 1;
  grid-row: 1;
}

.returnContWrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5em;
  height: 3em;
  width: 100%;
}

.returnArrow {
  background-color: #5f2928;
  border-radius: 50%;
  display: grid;
  padding: 0.1em;
}

.returnTextWrapper {
  height: 1.3em;
  display: grid;
  place-content: end;
  width: 5.5em;
}

dialog {
  width: 50em;
  height: 20em;
  background-color: rgb(235, 203, 44);
  border: 7px solid black;
  top: 25%;
  left: 24%;
  display: grid;
  place-content: center;
  border-radius: 15px;
  z-index: 999;
}

.shufText h1 {
  font-size: 6em;
  font-family: "game";
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.8em);
  -webkit-backdrop-filter: blur(0.8em);
  pointer-events: none;
  transition: 0.2s;
  /* z-index: 999; */
}
