@import "./fontStyles.css";

.gameWrapper {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 10em 25em 2em;
  place-content: center;
}

.game {
  grid-row: span 2;
  grid-column: 1;
}

.cardsCont {
  display: flex;
  grid-row: 2;
  grid-column: span 2;
  justify-content: center;
  gap: 2em;
  padding: 0 1em 0 1em;
}

.returnToMenu {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 3em;
  font-size: 2em;
  font-weight: bold;
  font-family: "sponge";
}

.returnContWrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5em;
  height: 3em;
  width: 100%;
}

.returnArrow {
  background-color: #5f2928;
  border-radius: 50%;
  display: grid;
  padding: 0.1em;
}

.returnTextWrapper {
  height: 1.3em;
  display: grid;
  place-content: end;
  width: 5.5em;
}
