@import "./fontStyles.css";

.infoCont {
  display: flex;
  flex-direction: column;
}

header {
  display: grid;
  grid-template-rows: 5em 5em 20em;
  place-content: center;
  max-width: 35em;
}

.spTitle {
  font-family: "game";
  font-size: 3em;
  place-content: end;
}

.memoryTitle {
  font-family: "sponge";
  font-size: 5.5em;
  grid-row: 2;
}

.instCont {
  display: grid;
  place-items: center;
}

.instructions {
  display: grid;
  grid-template-columns: 1fr 3em;
  grid-template-rows: 1em 1fr;
  padding: 0.8em 0.8em 1em 1em;
  width: 17em;
  background-color: bisque;
  border: 3px solid brown;
  border-radius: 8px;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.3);
  font-size: 1.2em;
  position: relative;
}

.inText {
  grid-column: 1 / 2;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

mark {
  color: red;
  background: none;
  font-weight: 700;
}

.exMark {
  grid-column: 2;
  grid-row: 1;
  align-self: start;
  justify-self: end;
  width: 1.5em;
  height: 1.5em;
  display: grid;
  place-content: center;
}

.diffbutt {
  display: flex;
  justify-content: center;
  gap: 1.5em;
  max-width: 30em;
}

.easyCont,
.mediumCont,
.hardCont {
  background: linear-gradient(#895238, #7a3e26);
  border: 4px solid #000;
  border-radius: 16px;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 6px 0 #5a2b18;
  width: 6em;
  display: grid;
  place-content: center;
  padding: 0.5em;
}

.easy,
.medium,
.hard,
.returnBtn,
.againBtn {
  width: 6em;
  height: 6em;
  border-radius: 14px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 900;
  color: #111;
  border: 4px solid #000;
  cursor:
    url("../assets/cursor1.png") 16 16,
    auto;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow:
    0 6px 0 rgba(0, 0, 0, 0.4),
    inset 0 3px 0 rgba(255, 255, 255, 0.5);

  transition:
    transform 0.1s ease,
    box-shadow 0.1s ease;

  transition:
    transform 0.4s ease,
    box-shadow 0.1s ease;
}

.easy:hover,
.medium:hover,
.hard:hover {
  transform: rotate(3deg) scale(1.05);
}

.easy:active,
.medium:active,
.hard:active,
.returnBtn:active,
.againBtn:active {
  transform: translateY(4px);
  box-shadow:
    0 2px 0 rgba(0, 0, 0, 0.4),
    inset 0 2px 0 rgba(255, 255, 255, 0.4);
}

.easy {
  background: linear-gradient(145deg, #8cf0b7, #1db15a);
}
.medium,
.returnBtn {
  background: linear-gradient(145deg, #ffe27a, #f1b80c);
}
.hard,
.againBtn {
  background: linear-gradient(145deg, #ff8a7a, #d63b2c);
}

.easy:hover {
  box-shadow:
    0 6px 0 rgba(0, 0, 0, 0.4),
    0 0 12px rgba(29, 177, 90, 0.6);
}
.medium:hover {
  box-shadow:
    0 6px 0 rgba(0, 0, 0, 0.4),
    0 0 12px rgba(241, 184, 12, 0.6);
}
.hard:hover {
  box-shadow:
    0 6px 0 rgba(0, 0, 0, 0.4),
    0 0 12px rgba(214, 59, 44, 0.6);
}
