@import "./infoSide.css";
@import "./game.css";
@import "./score.css";
@import "./cards.css";

* {
  margin: 0;
  padding: 0;
}

body {
  aspect-ratio: 16 / 7.9;
  background-image: url("../assets/bg-Img.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  font-family: "roboto";
  cursor:
    url("../assets/cursor1.png") 16 16,
    auto;
}

.menu {
  display: grid;
  grid-template-columns: 35em 40em 20em;
  grid-template-rows: 34em 5em 5em;
}

.gameScore {
  grid-column: 3;
}

a {
  text-decoration: none;
  color: red;
}

a:hover {
  color: #5a2b18;
}
