@import "./fontStyles.css";

.gameScoreWrapper {
  grid-column: 3;
  height: 5em;
  display: grid;
  justify-content: end;
  align-items: center;
}

.gameScore {
  background-color: #5f2928;
  border: 5px solid #2b150c;
  color: #ffd93d;
  border-radius: 20px;
  height: 2.5em;
  width: 14em;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  padding: 0 0.5em 0 0.5em;
}

.scoreLine {
  height: 1.2em;
  width: 2px;
  background-color: #ffd93d;
  border: none;
  border-radius: 2px;
}

footer {
  display: flex;
  align-items: end;
  justify-content: center;
  grid-column: 3;
  grid-row: 3;
}

footer p {
  font-family: "sponge";
  font-weight: 900;
  font-size: 1.5em;
}
